img{border: 0px;}

/*section imgInval 轮播*/
.imgInval{width: 100%;height: 450px;position: relative;z-index: 3;}
.imgInval .changeImg{background: url("http://pic.womai.com/pic/sale/2016/selfimages/selfrollbk-1031.png") 50% 0% no-repeat; background-color: rgb(91, 187, 27);}
.imgInval .changeImg a {display: block;width: 800px;height: 450px;text-align: center;
    padding-left: 10px;margin: 0 auto;position: relative;}
.imgInval .changeImg p{position: absolute;width: 800px;top:200px;display: none;left:280px;z-index: 100;}
.imgInval .changeImg:hover p{display: block;}
.imgInval .changeImg .left_btn{float: left;display: block;width: 28px;height: 62px;font: 400 22px/62px simsun;
color: #fff;text-align: center;background: url(../images/btn.png) no-repeat;text-decoration: none; pointer-events: auto;font-style: normal;z-index: 100;}
.imgInval .changeImg .right_btn{float: right;display: block;width: 28px;height: 62px;font: 400 22px/62px simsun;
color: #fff;text-align: center;background: url(../images/btn.png) no-repeat;text-decoration: none;
    pointer-events: auto;font-style: normal;z-index: 100;}
.imgInval .changeImg span{position: absolute;left:43%;bottom: 20px;}
.imgInval .changeImg span div{float: left;width: 15px;height: 15px;margin: 0 5px;
    background: url(../images/b_icon.png) no-repeat 0 0; border: 0;}
.imgInval .changeImg .outmouse{ background: url(../images/b_icon.png) no-repeat 0 0;}
.imgInval .changeImg span div:hover{ background: url(../images/b_icon.png) no-repeat -16px 0;}
.imgInval .changeImg .onmouse{ background: url(../images/b_icon.png) no-repeat -16px 0;}

.imgInval .cont_w {position: relative;height: 0;}
.imgInval .width {width: 1210px;margin: 0 auto;}
.imgInval .cont_r {position: absolute;top: -455px;right: 0;width: 200px;height: 450px;margin-top: 5px; background: #fff;}
.imgInval .cont_r .public {position: relative;border: 1px solid #ddd; border-top: 1px solid #e8e8e8; overflow: hidden;}
.imgInval .public .cw_title {position: absolute;width: 202px;overflow: hidden;}
.imgInval .cw_title .intitle {width: 67px;padding: 0;color: #0D8700;border-bottom: 2px solid #2d8800; background-color: #fff;float: left;height: 29px;text-align: center;line-height: 29px;}
.imgInval .public .outtitle{float: left;width: 65px;height: 29px;padding: 0 1px;
    line-height: 29px;color: #3c3c3c;text-align: center;border-bottom: 2px solid #fff;
    background-color: #F7F7F7;cursor: pointer;}
.imgInval .public .cont_wrap{padding: 35px 16px 6px;}
.imgInval .public .cont_wrap .cont {display: none;padding: 7px 0;overflow: hidden;
    zoom: 1;}
.imgInval .cont_wrap .cont .infor{height: 21px;line-height: 21px;overflow: hidden; }
.imgInval .cont_wrap .cont .dot{display: inline-block;width: 2px;height: 2px;margin: 11px 8px 0 0;background-color: #4d4d4d;overflow: hidden;vertical-align: bottom;
float: left;}
.imgInval .cont_wrap .cont .cw_text {float: left;vertical-align: bottom;}
.imgInval .min_lead .lead_btn_wrap {width: 201px;border-top: 1px solid #ddd;
    overflow: hidden;}
.imgInval  .min_lead .lead_btn {float: left;width: 66px;height: 60px;border-bottom: 1px dotted #ddd;border-right: 1px dotted #ddd;overflow: hidden;text-align: center;}
.imgInval .cont_r .add_b {width: 200px;height: 146px;margin: 0;}

/*每日爆品、特色商品、每日推荐:thoseOf*/
.thoseOf{width: 100%;background-color: white;font-family: "微软雅黑" !important;}
.thoseOf .hotting{width: 1210px;margin: 0 auto; margin-top: 6px;overflow: hidden;}
.thoseOf h2{height: 46px;font-weight: normal;line-height: 46px;border-bottom: 2px solid #4bae00;overflow: hidden;}
.thoseOf h2 dt {font-size: 20px;color: #383838;}
.thoseOf .fl{float: left;}
.thoseOf h2 dd {margin-left: 20px;padding: 16px 0;font-size: 14px; color: #757575;line-height: 18px;}
.thoseOf h2 img {width: 216px;height: 18px;}
.thoseOf .madden-pro{ position: relative;    overflow: hidden;}
.thoseOf .verticaImg{float: left;height: 320px;position: relative;width: 242px;}
.thoseOf .verticaImg .aImg{left: -242px; display: block;height: 400px;position: absolute;width: 242px;z-index: 100;}
.thoseOf .verticaImg:hover .aImg{animation: moveimgx 1s linear;}
@keyframes moveimgx {
    0%{display: block;left: -242px;}
    100%{display: block;left:242px;}
}
.thoseOf .verticaBox {position: relative;float: right;width: 972px;height: 320px;margin-right: -5px;overflow: hidden;z-index: 101;}
.thoseOf .clearfix {position: absolute;overflow: hidden;transition: all 1s;}
.thoseOf .verticaBox li {position: relative;float: left;width: 238px;height: 320px;
    border-right: 5px solid #ededed;}
.thoseOf .madden-pro li .imgChange {display: block; width: 238px; height: 220px; overflow: hidden;}
.thoseOf .madden-pro li img {height: 180px; width: 180px; margin: 15px 0 0 10px;transition: all 1s;}
.thoseOf .madden-pro li img:hover{transform:scale(1.2);transition: all 1s; }
.thoseOf .madden-pro .inforBox {width: 203px;height: 80px;padding: 10px 17px 10px 18px;background: #f1f7f4;
    overflow: hidden;}
.thoseOf .madden-pro .inforBox p {width: 100%;height: 23px;line-height: 23px;font-size: 14px;overflow: hidden;}
.thoseOf .inforBox .txtBt a {font-size: 16px; color: #383838;}
.thoseOf .inforBox .buy-btn {width: 100%;height: 30px;padding-top: 4px;overflow: hidden;}
.thoseOf .inforBox .buy-btn span {line-height: 30px;font-size: 20px;color: #de0801;}
.thoseOf .inforBox .buy-btn a {float: right;width: 80px;height: 26px;margin-top: 2px;line-height: 26px;
    font-size: 14px;color: #fff;text-align: center;background: url(../images/buyBtn.jpg) no-repeat;
    overflow: hidden;}
.thoseOf .verticaBox .left_btn {background: url(../images/lr.png) no-repeat 0 0;left: 0;position: absolute;
    top: 91px;z-index: 20; width: 32px; height: 38px; opacity: 0.8;cursor: pointer;display: none;}
.thoseOf .verticaBox:hover .left_btn{display: block;}
.thoseOf .verticaBox .right_btn {background: url(../images/lr.png) no-repeat -32px 0;right: 5px;position: absolute;top: 91px;z-index: 20; width: 32px; height: 38px; opacity: 0.8;cursor: pointer;display: none;}
.thoseOf .verticaBox:hover .right_btn{display: block;}
.thoseOf .outstanding{width: 1210px;margin: 0 auto; margin-top: 6px;overflow: hidden;height: 472px;}
.thoseOf .fl{float: left;}
.thoseOf .feature .feature-pro a {    display: block;}
.thoseOf .outstanding .feature-pro .adv1 img {    width: 240px;    height: 420px;}
.thoseOf .outstanding .feature-pro {    overflow: hidden;}
.thoseOf .outstanding .feature-pro ul {   width: 486px;}
.thoseOf .outstanding .feature-pro .adv2 {   width: 485px;    overflow: hidden;}
.thoseOf .outstanding .feature-pro .adv2 li {float: left;width: 242px;height: 210px;
    border-right: 1px solid #ededed;}
.thoseOf .outstanding .feature-pro .adv2 li img { width: 242px; height: 210px;}
.thoseOf .outstanding .feature-pro a {    display: block;}
.thoseOf .recommend{width: 1210px;margin: 0 auto; margin-top: 6px;overflow: hidden;height:320px;}
.thoseOf .recommend .commend-pro { position: relative; padding-right: 0px; border-right: 0px solid #ededed;
    overflow: hidden;height: 320px;}
.thoseOf .recommend .commend-pro ul {position: absolute;float: left;height: 320px;overflow: hidden; }
.thoseOf .recommend .commend-pro .firstBig {position: relative;width: 484px;height: 320px;overflow: hidden;}
.thoseOf .recommend .commend-pro .firstBig img { position: relative; width: 494px;height: 320px;transition: all 0.3s; left:0px;}
.thoseOf .recommend .firstBig:hover img{left:-10px;}
.thoseOf .recommend .commend-pro li { float: left; width: 242px; height: 320px; overflow: hidden;position: relative}
.thoseOf .recommend .commend-pro li img { position: relative; width: 252px;height: 320px;transition: all 0.3s; left:0;}
.thoseOf .recommend .commend-pro li:hover img{left:-10px;}
.thoseOf .recommend .commend-pro .left_btn { left: 0;background: url(../images/lr.png) no-repeat 0 0;top: 141px;position: absolute; z-index: 20;width: 32px;height: 38px;opacity: 0.8;  cursor: pointer;display: none;}
.thoseOf .recommend .commend-pro .right_btn { right: 0;background: url(../images/lr.png) no-repeat -32px 0;top: 141px;position: absolute; z-index: 20;width: 32px;height: 38px;opacity: 0.8;  cursor: pointer;display: none;}
.thoseOf .recommend .commend-pro:hover .left_btn{display: block;}
.thoseOf .recommend .commend-pro:hover .right_btn{display: block;}

/*centerAd*/
.centerAd{width: 100%;height: 110px;overflow: hidden;margin-top: 30px;}
.centerAd .centerAdBox{width: 1210px;margin: 0 auto;height: 110px;}
.centerAd .centerAdBox a{float: left;}
.centerAd .centerAdBox a img{width: 403px;height: 110px;}

/*floors======================================*/
.floors{width: 100%;}
.floors .infloor{width: 1210px;margin: 0 auto;margin-top: 14px; overflow: hidden;}
.infloor .floor-l h3 {position: relative;height: 38px;padding-left: 15px;font-weight: normal; font-size: 20px;
    line-height: 38px; color: #434343;}
.infloor .floor-l {width: 242px;}
.floors .fl { float: left;}
.infloor .floor-l h3 i {position: absolute;left: 0;top: 8px;width: 5px;height: 20px;}
.infloor .floor-l .con { position: relative; padding-top: 50px;}
.infloor .floor-l .con span {position: absolute;top: 0;left: 0;display: block;width: 56px; height: 20px;
    padding: 10px 0 34px 8px; line-height: 20px;font-size: 18px;color: #fff; font-weight: bold;
    background: url(../images/floor_icon.png) no-repeat; cursor: pointer;}
.infloor .floor-l ul {width: 200px;height: 110px;padding-bottom: 9px; margin-left: 21px;
    background: url(../images/bd.png) no-repeat bottom center;}
.infloor .floor-l li {position: relative;float: left;width: 75px;height: 36px;padding-left: 25px;
    font-size: 14px; line-height: 36px; overflow: hidden;}
.infloor .floor-l li i { position: absolute; top: 7px;left: 0;display: block;width: 22px; height: 22px;}
.infloor .floor-l li a {    color: #5e7090;}
.infloor .floor-l .pic{height: 333px;position: relative;width: 242px; overflow: hidden;}
.infloor .floor-l .pic .aImg{left:-242px;display:block;height:400px;position:absolute;width: 242px;z-index: 100;}
.infloor .floor-l .pic:hover .aImg{animation: moveimgx 1s linear;}
.infloor .floor-r {width: 968px;}
.infloor .floor-r .con {    position: relative; display: none; width: 968px;z-index: 100;background: white;}
.infloor .floor-r .tit { height: 36px; margin: 0 0 2px 30px;font-size: 16px; line-height: 36px; color: #434343;}

.infloor .floor-r .tit li {height: 36px;margin-right: 30px;padding: 0 5px; text-align: center; color: #383838;
    overflow: hidden;}
.infloor .floor-r .adv {position:absolute;top:0;left:242px;width:482px;height:250px;border-right:1px solid #ededed; border-bottom: 1px solid #ededed; overflow: hidden;}
.infloor .floor-r .adv ul li{position: absolute; transition:all 1s}
.infloor .floor-r .adv img { width: 483px; height: 250px; border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;}
.infloor .adv .slider-btn {left: 0;width: 100%;margin-left: 0;position: absolute;z-index: 25;
    top: 50%; height: 62px; margin-top: -31px; pointer-events: none;}
.infloor .adv .slider-btn a { display: none;width: 28px; height: 62px; font: 400 22px/62px simsun;color: #fff; text-align: center; background: url(../images/btn.png) no-repeat; text-decoration: none;pointer-events: auto;}
.infloor .adv:hover .slider-btn a{display: block;}
.infloor .floor-r .slider-num {position:absolute;bottom:20px;left:50%;z-index:22;height:15px;text-align: center;}
.infloor .floor-r .slider-num li{float: left;width: 15px;height: 15px;margin: 0 5px;background: url(../images/b_icon.png) no-repeat 0 0;border: 0;list-style: none;}
/*.infloor .floor-r .slider-num li:hover{background: url(../images/b_icon.png) no-repeat -16px 0;}*/
.infloor .floor-r .slider-num .lihover{background: url(../images/b_icon.png) no-repeat -16px 0;}
.infloor .floor-r .con ul { overflow: auto;}
.infloor .floor-r .transparency_wrap li {width: 241px;height: 250px;border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed; overflow: hidden;}
.infloor .floor-r .first {margin-right: 484px;}
.infloor .floor-r li {  float: left;}
.infloor .floor-r dt { width: 240px; height: 190px;  text-align: center;}
.infloor .floor-r .transparency_wrap img{position: relative;left: 0;width: 180px;height: 180px;margin: 0 auto;
    margin-top: 6px;transition: all 0.3s;}
.infloor .floor-r .transparency_wrap img:hover{left:-10px;}
.infloor .floor-r .name { height: 24px; font-size: 14px; line-height: 24px; color: #383838;    width: 200px;
    margin-left: 20px;text-overflow: ellipsis;overflow: hidden; bottom: 26px;  }
.infloor .floor-r .price {bottom: 0;height: 26px;font-size: 14px;line-height: 26px; color: #dd0800;width: 200px;
    margin-left: 20px;text-overflow: ellipsis;overflow: hidden;}
.infloor .floor-r .price span span {    font-size: 20px;}
.floor1 .floor-l li a:hover {color: #1d232d;}
.floor1 .floor-l .con span {    background-position: 0 0;}
.floor1 .floor-l h3 {    color: #88A9E2;}
.floor1 .floor-l h3 i { background: #88A9E2;}
.floor1 .floor-l .con {    background: #a1c0f6;}
.floor1 .floor-r .con {border-top: 1px solid #a1c0f6;}
.floor1 .floor-r .tit .cur {border-bottom: 2px solid #a1c0f6; color: #434343;}
.floor2 .floor-l li a:hover {color: #1d232d;}
.floor2 .floor-l .con span {    background-position: 0 0;}
.floor2 .floor-l h3 {    color:#87D0EB;}
.floor2 .floor-l h3 i { background: #87D0EB;}
.floor2 .floor-l .con {    background: #99ddf6;}
.floor2 .floor-r .tit .cur {border-bottom: 2px solid #99ddf6; color: #434343;}
.floor2 .floor-r .con {border-top: 1px solid #99ddf6;}
.floor3 .floor-l li a:hover {color: #1d232d;}
.floor3 .floor-l .con span {    background-position: 0 0;}
.floor3 .floor-l h3 {    color:#A6CE65;}
.floor3 .floor-l h3 i { background: #A6CE65;}
.floor3 .floor-l .con {    background: #bee77b}
.floor3 .floor-r .tit .cur {border-bottom: 2px solid #bee77b; color: #434343;}
.floor3 .floor-r .con {border-top: 1px solid #bee77b;}
.floor4 .floor-l li a:hover {color: #1d232d;}
.floor4 .floor-l .con span {    background-position: 0 0;}
.floor4 .floor-l h3 {    color:#87D0EB;}
.floor4 .floor-l h3 i { background: #87D0EB;}
.floor4 .floor-l .con {    background: #99ddf6;}
.floor4 .floor-r .tit .cur {border-bottom: 2px solid #99ddf6; color: #434343;}
.floor4 .floor-r .con {border-top: 1px solid #99ddf6;}
.floor5 .floor-l li a:hover {color: #1d232d;}
.floor5 .floor-l .con span {    background-position: 0 0;}
.floor5 .floor-l h3 {    color:#DCCA84;}
.floor5 .floor-l h3 i { background: #DCCA84;}
.floor5 .floor-l .con {    background: #f6e398}
.floor5 .floor-r .tit .cur {border-bottom: 2px solid #f6e398; color: #434343;}
.floor5 .floor-r .con {border-top: 1px solid #f6e398;}
.floor6 .floor-l li a:hover {color: #1d232d;}
.floor6 .floor-l .con span {    background-position: 0 0;}
.floor6 .floor-l h3 {    color:#8DD1C2;}
.floor6 .floor-l h3 i { background: #8DD1C2;}
.floor6 .floor-l .con {    background: #9fe7d7;}
.floor6 .floor-r .tit .cur {border-bottom: 2px solid #9fe7d7; color: #434343;}
.floor6 .floor-r .con {border-top: 1px solid #9fe7d7;}
.floor7 .floor-l li a:hover {color: #1d232d;}
.floor7 .floor-l .con span {    background-position: 0 0;}
.floor7 .floor-l h3 {    color:#DDC18F;;}
.floor7 .floor-l h3 i { background: #DDC18F;}
.floor7 .floor-l .con {    background: #f6d7a1}
.floor7 .floor-r .tit .cur {border-bottom: 2px solid #f6d7a1;; color: #434343;}
.floor7 .floor-r .con {border-top: 1px solid #f6d7a1;;}
.floor8 .floor-l li a:hover {color: #1d232d;}
.floor8 .floor-l .con span {    background-position: 0 0;}
.floor8 .floor-l h3 {    color:#F1B1B7;}
.floor8 .floor-l h3 i { background: #F1B1B7;}
.floor8 .floor-l .con {    background: #ffc4ca}
.floor8 .floor-r .tit .cur {border-bottom: 2px solid #ffc4ca; color: #434343;}
.floor8 .floor-r .con {border-top: 1px solid #ffc4ca;}
.floor9 .floor-l li a:hover {color: #1d232d;}
.floor9 .floor-l .con span {    background-position: 0 0;}
.floor9 .floor-l h3 {    color:#99A4E4;}
.floor9 .floor-l h3 i { background:#99A4E4;}
.floor9 .floor-l .con {    background: #b3bdf9;}
.floor9 .floor-r .tit .cur {border-bottom: 2px solid #b3bdf9; color: #434343;}
.floor9 .floor-r .con {border-top: 1px solid #b3bdf9;}
.floor10 .floor-l li a:hover {color: #1d232d;}
.floor10 .floor-l .con span {    background-position: 0 0;}
.floor10 .floor-l h3 {    color:#E6C1BD;}
.floor10 .floor-l h3 i { background:#E6C1BD;}
.floor10 .floor-l .con {    background: #f9d7d3;}
.floor10 .floor-r .tit .cur {border-bottom: 2px solid #f9d7d3; color: #434343;}
.floor10 .floor-r .con {border-top: 1px solid #f9d7d3;}
.floor-even .floor-l li a:hover {color: #1d232d;}
.floor-even .floor-l .con span {    background-position: 0 0;}
.floor-even .floor-l h3 {    color:#DDC18F;}
.floor-even .floor-l h3 i { background:#DDC18F;}
.floor-even .floor-l .con {    background:#f6d7a1;}
.floor-even .floor-r .tit .cur {border-bottom: 2px solid #f6d7a1; color: #434343;}
.floor-even .floor-r .con {border-top: 1px solid #f6d7a1;}
.floor-odd .floor-l li a:hover {color: #1d232d;}
.floor-odd .floor-l .con span {    background-position: 0 0;}
.floor-odd .floor-l h3 {    color:#9fe7d7}
.floor-odd .floor-l h3 i { background:#9fe7d7}
.floor-odd .floor-l .con {    background:#9fe7d7;}
.floor-odd .floor-r .tit .cur {border-bottom: 2px solid #9fe7d7; color: #434343;}
.floor-odd .floor-r .con {border-top: 1px solid #9fe7d7;}

/*footerList=====*/
.footerList{width: 100%;height: 730px;margin-top: 45px;}
.footer-nav {  border-top: 2px solid #3ea600;height: 730px;border-left:1px solid #ededed;}
.footerList .width {width: 1206px; margin: 0 auto;}
.footer-nav .nav-con {    border-left: 1px solid #ededed;}
.footer-nav .section {float: left;width: 240px;height: 364px;border-right: 1px solid #ededed;border-bottom: 1px solid #ededed;}
.footer-nav .section h3 {height: 82px;font-weight: bold;padding: 0 18px;
    font-size: 16px;line-height: 82px;text-align: center;cursor: pointer;
    overflow: hidden;}
.footer-nav .section .pic {    text-align: center;}
.footer-nav .section .pic img {width: 100px;height: 100px;margin: 0 auto;}
.footer-nav .section ul {height: 125px;margin-top: 25px;padding-left: 34px;
    overflow: hidden;}
.footer-nav .section li {float: left;width: 95px;margin-right: 8px;
    height: 26px;line-height: 26px;overflow: hidden;}

/*leftFloors============*/
.leftFloors{width: 60px;position: fixed;left: 0;height: 100%;top:0;}
.leftFloors .float-nav {position: absolute;display: none;}
.leftFloors .float-navupdown    {animation: updown 1.5s 1;top:0px;}
.leftFloors .float-navdownup    {animation: downup 1.5s 1;top:-800px;}
@keyframes updown {
    0%{top:-800px;}
    100%{top:0px;}
}

@keyframes downup {
    0%{top:0px;}
    100%{top:-800px;}
}
.leftFloors .float-nav ul { width: 45px; background: #fff;}
.float-nav ul li {position: relative; display: block;width:45px;height: 38px;line-height: 38px;overflow: hidden;
    border-bottom: 1px dotted #ddd;}
.float-nav ul  li.curr {color: #fff;background: #3da601;}
.float-nav .curr a {color: #fff;}
.float-nav .curr a span { display: none;}
.float-nav ul li a, .float-nav ul li span{
    display: block;width: 35px; height: 38px;padding: 0 5px;text-align: center;text-decoration: none;}
.float-nav ul li b {display: block;width: 24px;padding: 5px 7px;text-align: left;font-size: 12px;
    font-weight: normal;line-height: 14px; text-decoration: none;height: 38px;}

/*rightFixed*/
.rightFixed{ position: fixed; top: 0; z-index:9999999; right: 0; width: 34px; background: #000;height: 100%;}
.rightFixed .activity {position: relative;left:-51px;margin-top: 30px;}
.rightFixed .inbuycar{position: relative;padding: 15px 0;margin-top: 5px;padding-left: 2px;}
.rightFixed .inbuycar a{width: 20px;display: block;margin-left:5px;color: white; }
.rightFixed .inbuycar a i{display:inline-block;width:18px;height:18px;
    background:url(../images/cart.jpg) no-repeat;background-position: -178px -8px;}
.rightFixed .inbuycar a span{display:inline-block;width:18px;height:18px;background-color:#3da700;border-radius: 5px; text-align: center;font-size: 14px;}
.rightFixed .inbuycar:hover{background-color:#3da700;}
.rightFixed .inbuycar:hover a{color:white;text-decoration: none;}
.rightFixed .inbuycar:hover i{background-position: -178px -42px}
.rightFixed .inbuycar:hover span{background-color: black;}
.rightFixed .five_end{position: relative;padding: 15px 0;margin-top: 5px;}
.rightFixed .five_end div{width:34px;height: 34px;margin-top: 5px;}
.rightFixed .five_end div a{height: 34px;display: block;position: absolute;right: 0;width:110px;
font-size: 12px;line-height: 34px; color: transparent;}
.rightFixed .five_end div a:hover{background-color:#3da700;text-decoration: none;
    cursor: pointer;color: white;}
.rightFixed .five_end div i{display:inline-block;width:34px;height:34px;float: right;
    background:url(../images/cart.jpg) no-repeat;right: 0;}
.rightFixed .five_end .fe_one{background-position: 0px 0px;}
.rightFixed .five_end .fe_two{background-position: -34px 0px;}
.rightFixed .five_end .fe_three{background-position: -68px 0px;}
.rightFixed .five_end .fe_four{background-position: -102px 0px;}
.rightFixed .five_end .fe_five{background-position: -136px 0px;}
.rightFixed .five_end .clear_bg a:hover{background-color: transparent;}
.rightFixed .five_end div a:hover .fe_one{background-position: 0px -34px;}
.rightFixed .five_end div a:hover .fe_two{background-position: -34px -34px;}
.rightFixed .five_end div a:hover .fe_three{background-position: -68px -34px;}
.rightFixed .five_end .clear_bg a span {position: absolute;display: none;width: 154px;height: 272px;right:34px;bottom: -22px;line-height: 34px;background: #3da700;overflow: hidden;
    background: url(../images/2weimaborder.png) no-repeat;}
.rightFixed .five_end .clear_bg a:hover span{display: block;}
.rightFixed .five_end div a:hover .fe_five{background-position: -136px -34px;}
/*floatheader=====*/
.floatheader{position: fixed;top:0;left: 0;width: 100%;display: none;z-index: 300;}










